#contenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Asegurarse de que las burbujas estén detrás de todo */
    filter: blur(10px); /* Filtro borroso para las burbujas */
}
.burbuja {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none; /* Para que las burbujas no interfieran con los clics */
    filter: blur(10px); /* Aplicar el filtro de desenfoque a las burbujas */
}